{
  "extends": "@antfu",
  "ignorePatterns": [
    "/.github/workflows/playwright.yml"
  ],
  "overrides": [
    {
      "files": [
        "*.spec.ts", "/**/*.md"
      ],
      "rules": {
        "comma-dangle": [
          "error",
          "never"
        ],
        "semi": [
          "error",
          "never"
        ],
        "@typescript-eslint/semi": "off",
        "@typescript-eslint/comma-dangle": "off"
      }
    }
  ]
}
