@media (max-width: 1040px) {
  .grax_about .about_inner .left {
    display: none;
  }
  .grax_about .mvp-logo {
    display: block;
  }
  .grax_about .about_inner .right {
    width: 100%;
    left: 0px;
    padding-left: 0px;
  }
  .grax_about .about_inner.grax_appear.load .right {
    left: 0px;
  }
  .grax_about_second .about_inner .left {
    display: none;
  }
  .grax_about_second .about_inner .right {
    width: 100%;
    padding-left: 0px;
  }

  .grax_topbar .inner .menu_list {
    display: none;
  }
}
@media (max-width: 768px) {
  .grax_about .about_inner .right .title h3 {
    font-size: 32px;
  }

  .grax_contact .contact_inner {
    flex-direction: column;
  }
  .grax_contact .contact_inner .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .grax_contact .contact_inner .right {
    width: 100%;
  }
  .grax_contact .contact_inner .right .first_row ul li {
    width: 100%;
    padding: 0px;
  }
  .grax_contact .contact_inner .right .first_row ul {
    margin: 0px;
  }
}
@media (max-width: 480px) {
  .grax_hero_wrap .hero_texts h3 {
    font-size: 40px;
  }
  .grax_about .about_inner .right .title h3 {
    font-size: 25px;
  }
  .grax_about .about_inner .right .buttons {
    flex-direction: column;
    align-items: baseline;
  }
  .grax_about .about_inner .right .buttons .grax_button:first-child {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .grax_about_second .about_inner .right .buttons {
    flex-direction: column;
    align-items: baseline;
  }
  .grax_about_second .about_inner .right .buttons .grax_button:first-child {
    margin-bottom: 20px;
  }
}
