@charset "utf-8";

/* -------------------------------------------------------------------

[Table of contents]

01. Intro
02. TopBar
03. Hero
04. About
05. Services
06. Portfolio
07. Resume
08. Skills
09. Team
10. Pricing
11. News
12. Contact
13. Footer

------------------------------------------------------------------- */

/*** 01. Intro ***/

html {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #333;
}
.container {
  max-width: 1250px;
  width: 100%;
  padding: 0px 10px;
  position: relative;
  overflow: visible;
}
.grax_loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 11111111;
}
.grax_loader-wrapper .loader {
  height: 1px;
  background-color: #fff;
  z-index: 11111111;
  position: absolute;
}

/*** 02. TopBar ***/

.grax_topbar {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
/* .grax_topbar.animate .mainpart {
  background-color: #000;
  padding: 25px 0px;
} */
.grax_topbar .mainpart {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  transition: all 0.3s ease;
}
.grax_topbar .inner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grax_topbar .logo {
  width: auto;
}
.grax_topbar .dropdown {
  width: 100%;
  height: auto;
  background-color: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.grax_topbar .dropdown .main {
  width: 100%;
  height: auto;

  padding: 35px 0px;
}
.grax_topbar .dropdown .main ul {
  margin: 0px;
  list-style-type: none;
}
.grax_topbar .dropdown .main ul li {
  margin: 0px;
  width: 100%;
  float: left;
}
.grax_topbar .dropdown .main ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: 'Saira';
  display: inline-block;
  padding-bottom: 8px;
}
.grax_topbar .dropdown .main ul li:last-child a {
  padding-bottom: 0px;
}
.grax_topbar .trigger {
  display: none;
}

.grax_topbar .trigger a {
  text-decoration: none;
  color: #fff;
  font-family: 'Saira';
  font-weight: 500;
}

.grax_topbar .menu_list ul {
  margin: 0px;
  list-style-type: none;
}
.grax_topbar .menu_list ul li {
  margin: 0px;
  display: inline-block;
  margin-right: 20px;
}
.grax_topbar .menu_list ul li:last-child {
  margin-right: 0px;
}
.grax_topbar .menu_list ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: 'Saira';

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_topbar .menu_list ul li a:hover {
  color: #ff214f;
}
.grax_topbar .trigger_main {
  width: 30px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 40px;
}
.grax_topbar .trigger_main a {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.grax_topbar .trigger_main span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  display: inline-block;
}
.grax_topbar .trigger_main .two {
  margin-top: 12px;
}
.grax_content {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  z-index: 4;
}

/*** 03. Hero ***/

.grax_hero_wrap .hero_texts .hero_image {
  position: relative;
  width: 100%;
  max-width: 180px;
  margin: 0px auto;
  height: 180px;
  margin-bottom: 45px;
}

/* .grax_hero_wrap .hero_texts .hero_image:before {
  position: absolute;
  content: '';
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
} */
.grax_hero_wrap .hero_texts .hero_image img {
  min-width: 100%;
  border-radius: 100%;
}
/* .grax_hero_wrap .hero_texts .hero_image .image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
} */

.grax_hero_wrap .hero_texts[data-position='left'] {
  left: auto;
  text-align: left;
  position: fixed;
  transform: translate(0%, -50%);
  width: 100%;
  padding: 0px;
}
.grax_hero_wrap .hero_texts {
  position: fixed;
  z-index: 2;
  width: 100%;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0px 20px;
}
.grax_hero_wrap .hero_texts h3 {
  color: #fff;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  line-height: 1;
}
.grax_hero_wrap .name_holder {
  text-transform: uppercase;
}
.grax_hero_wrap .hero_texts .subtitle {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  display: inline-block;
  color: #fff;
}
.grax_tm_animation_text_word {
  color: #fff;
}
.grax_hero_wrap .hero_texts .name {
  margin-bottom: 30px;
}
.grax_hero_wrap .hero_texts .name[data-text-transform='uppercase'] {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.grax_hero_wrap .hero_texts .name[data-text-transform='uppercase'] span {
  color: #ff214f;
}
.grax_hero_wrap .hero_texts > h3,
.grax_hero_wrap .hero_texts > h3 span {
  font-size: 75px;
}
.grax_hero_wrap .www.a {
  max-width: 550px;
  width: 100%;
  margin: 0px auto;
}
.grax_hero_wrap .socials ul {
  margin: 0px;
  list-style-type: none;
}
.grax_hero_wrap .socials ul li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.grax_hero_wrap .socials ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.grax_hero_wrap .socials ul li a:hover {
  color: #ff214f;
}
.grax_down[data-position='left'] {
  left: auto;
  transform: translateX(0);
}
.grax_down {
  position: absolute;
  z-index: 7;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.grax_down .line_wrapper {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0px auto;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  visibility: visible;

  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.grax_down .line_wrapper {
  width: 1px;
  height: 50px;
  background: none;
  display: block;
}
.grax_down .line_wrapper:before {
  content: '';
  background-color: #fff;
  width: 1px;
  height: 50%;
  display: block;
  top: 0;

  -webkit-animation: scroll-down 2s ease-in-out infinite;
  -ms-animation: scroll-down 2s ease-in-out infinite;
  animation: scroll-down 2s ease-in-out infinite;
}

@-webkit-keyframes scroll-down {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  70% {
    height: 100%;
    transform: scaleY(0.5);
    transform-origin: bottom;
  }
  100% {
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.grax_button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #ff214f;
  font-weight: 500;
  padding: 7px 27px;
  border-radius: 4px;
  border: 3px solid #ff214f;
  font-family: 'Saira';
  transition: all 0.3s ease;
}
.grax_button:hover {
  background-color: transparent;
  color: #ff214f;
}
.grax_news .grax_button a:hover {
  color: #000;
}

/*** 04. About ***/

.grax_about {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-bottom: 100px;
  position: relative;
  padding-top: 100px;
  background-color: #fff;
}
.grax_about .about_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  display: flex;
}
.grax_about .about_inner .left {
  width: 40%;
  height: auto;
  padding-right: 10px;
}
.grax_about .mvp-logo {
  display: none;
}
.grax_about .about_inner .left .about_image_wrap {
  position: relative;
}
.grax_about .about_inner .left .about_image_wrap .image {
  position: absolute;
  z-index: 2;
}
.grax_about .about_inner .left .about_image_wrap .image .inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grax_about .about_inner .left .about_image_wrap .border .inner {
  position: absolute;
  top: 25px !important;
  bottom: -25px !important;
  left: 25px !important;
  right: -25px !important;
  border: 10px solid #000;
}
.grax_about .about_inner .left .about_image_wrap img {
  opacity: 0;
}
.grax_about .about_inner .right {
  width: 60%;
  height: auto;
  padding-left: 50px;
}
.grax_about .about_inner .right .grax_tm_animation_text_word {
  color: #ff214f;
  font-size: 20px;
}
.grax_about .about_inner .right .title {
  width: 100%;
  float: left;
}
.grax_about .about_inner .right .title {
  margin-bottom: 22px;
}
.grax_about .about_inner .right .title span.top {
  font-family: 'Saira';
  display: inline-block;
  margin-bottom: 5px;
  color: #ff214f;
}
.grax_about .about_inner .right .title h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.grax_about .about_inner .right .text {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.grax_about .about_inner .right .text p {
  margin-bottom: 11px;
}
.grax_about .about_inner .right .buttons {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
}
.grax_about .about_inner .right .buttons .grax_button {
  width: auto;
}
.grax_about .about_inner .right .buttons .grax_button a:hover {
  color: #000000;
}
.grax_about .about_inner .right .buttons .grax_button:first-child {
  padding-right: 40px;
}
.grax_progress {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  margin-bottom: 9px;
}
.progress_inner {
  width: 100%;
  margin-bottom: 15px;
}
.progress_inner:last-child {
  margin-bottom: 31px;
}
.progress_inner > span {
  margin: 0px 0px 7px 0px;
  width: 100%;
  display: block;
  text-align: left;
  font-family: 'Saira';
}
.progress_inner span.label {
  font-size: 13px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  font-family: 'Saira';
}
.progress_inner span.number {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  float: right;
  font-family: 'Saira';
}
.progress_inner .background {
  background: #07081f;
  width: 100%;
  min-width: 100%;
  position: relative;
  height: 8px;
}
.progress_inner .background .bar_in {
  height: 100%;
  background: #333;
  width: 0px;
  overflow: hidden;
}
.progress_inner .background .bar {
  width: 0px;
  height: 100%;
}
.progress_inner .background .bar.open {
  -webkit-animation: wow 3s cubic-bezier(0.165, 0.84, 0.44, 1); /* Safari 4+ */
  -moz-animation: wow 3s cubic-bezier(0.165, 0.84, 0.44, 1); /* Fx 5+ */
  animation: wow 3s cubic-bezier(0.165, 0.84, 0.44, 1); /* IE 10+ */
  width: 100%;
}

@-webkit-keyframes wow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes wow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes wow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.grax_tm_animation_text_word_2 {
  color: #ff214f;
}
.grax_title_holder {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: center;
}
.grax_title_holder h3 {
  font-family: 'Saira';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.grax_title_holder h3 span {
  position: relative;
}
.grax_title_holder h3 span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #ff214f;
  left: 0px;
  bottom: -5px;
}
.grax_services_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #f7f7f7;
  padding: 100px 0px 60px 0px;
  position: relative;
}
.grax_services_wrap .service_list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.grax_services_wrap .service_list .list_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.grax_services_wrap .service_list .carousel_nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_services_wrap .service_list .list_inner:hover .carousel_nav {
  opacity: 1;
  visibility: visible;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav a {
  background-color: #171717;
  padding: 22px;
  border-radius: 3px;
  display: inline-block;
  position: relative;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav a:hover {
  background-color: #ff214f;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav a:after {
  width: 0px;
  height: 0px;
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-left-color: #fff;
  top: 17px;
  left: 21px;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav .prev {
  left: 0px;
  position: absolute;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav .next {
  right: 0px;
  position: absolute;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav .prev:after {
  transform: rotate(180deg);
  left: 15px;
}
.grax_services_wrap .service_list .carousel_nav .custom_nav i {
  color: #1b1b1b;
}
.grax_services_wrap .service_list ul {
  margin: 0px;
  list-style-type: none;
}
.grax_services_wrap .service_list ul li {
  margin: 0px;
}
.grax_services_wrap .service_list .inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  text-align: center;
}
.grax_services_wrap .service_list .inner .in {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.grax_services_wrap .service_list .inner .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.grax_services_wrap .service_list .inner .text {
  margin-bottom: 33px;
}
.grax_services_wrap .service_list .inner .icon_box {
  margin-bottom: 20px;
}
.grax_services_wrap .service_list .inner .icon_box .svg {
  color: #ff214f;
  width: 40px;
  height: 40px;
}

/*** 06. Portfolio ***/

.grax_portfolio {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 94px 0px 60px 0px;
  background-color: #fff;
}
.arlo_tm_portfolio_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_filter {
  width: 100%;
  height: auto;
  text-align: center;
  list-style-type: none;
  margin: 0px 0px 32px 0px;
  display: inline-block;
  padding-top: 100px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_filter li {
  display: inline-block;
  margin: 0px 40px 0px 0px;
}
.arlo_tm_portfolio_filter li:last-child {
  margin-right: 0px;
}
.arlo_tm_portfolio_filter li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: 'Saira';
  transition: all 0.3s ease;
}
.arlo_tm_portfolio_filter li a:hover {
  color: #ff214f;
}
.arlo_tm_portfolio_filter li a.current {
  color: #ff214f;
}

/* PORTFOLIO LIST */

.arlo_tm_portfolio_list {
  list-style-type: none;
  margin: 0px 0px 0px -40px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_list > li {
  width: 33.3333%;
  float: left;
  position: relative;
  margin: 0px 0px 40px 0px;
  padding-left: 40px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.arlo_tm_portfolio_list > li .inner_list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
}
.arlo_tm_portfolio_list > li .inner_list:before {
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #ff214f;
  z-index: 8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.arlo_tm_portfolio_list > li .inner_list:after {
  position: absolute;
  content: '';
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}
.arlo_tm_portfolio_wrap.grax_appear.load .inner_list:after {
  left: 100%;
}
.arlo_tm_portfolio_wrap.grax_appear.load .inner_list:before {
  left: 100%;
}

.arlo_tm_portfolio_list li img {
  min-width: 100%;
}
.arlo_tm_portfolio_titles {
  white-space: nowrap;
  background: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 15px;
  color: #000000;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  font-family: 'Saira';
}
.arlo_tm_portfolio_titles.visible {
  opacity: 1;
  visibility: visible;
}
.arlo_tm_portfolio_titles .work__cat {
  position: absolute;
  background: #ffffff;
  top: 100%;
  left: 0;
  margin-top: -5px;
  font-size: 14px;
  font-family: 'Saira';
  font-weight: 400;
  padding: 5px 15px;
}
.entry {
  position: relative;
}
.arlo_tm_portfolio_image_main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*** 11. Testimonials ***/

.grax_testimonials {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.grax_testimonials .main_wrap {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.grax_testimonials .background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.grax_testimonials .background .image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grax_testimonials .background .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
.grax_testimonials .content {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  padding: 100px 0px 95px 0px;
  z-index: 2;
}
.grax_testimonials .content .list {
  width: 100%;
  max-width: 700px;
  height: auto;
  clear: both;
  margin: 0px auto;
  text-align: center;
}
.grax_testimonials .content .list ul {
  margin: 0px;
  list-style-type: none;
}
.grax_testimonials .content .list ul li {
  margin: 0px;
  width: 100%;
}
.grax_testimonials .content .image {
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin: 0px auto 39px auto;
}
.grax_testimonials .content .image img {
  border-radius: 100%;
}
.grax_testimonials .content .text {
  margin-bottom: 35px;
}
.grax_testimonials .content .text p {
  color: #fff;
}
.grax_testimonials .content .name_holder .name {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Saira';
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}
.grax_testimonials .content .name_holder .job {
  color: #eee;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Saira';
  display: block;
}

/*** 11. News ***/

.grax_news {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #fff;
  padding: 95px 0px 95px 0px;
  position: relative;
}
.grax_news .news_list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 107px;
}
.grax_news .news_list .list_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.grax_news .news_list .list_inner .carousel_nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_news .news_list .list_inner:hover .carousel_nav {
  opacity: 1;
  visibility: visible;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav a {
  background-color: #171717;
  padding: 22px;
  border-radius: 3px;
  display: inline-block;
  position: relative;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav a:hover {
  background-color: #ff214f;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav a:after {
  width: 0px;
  height: 0px;
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-left-color: #fff;
  top: 17px;
  left: 21px;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav .prev {
  left: 0px;
  position: absolute;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav .next {
  right: 0px;
  position: absolute;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav .prev:after {
  transform: rotate(180deg);
  left: 15px;
}
.grax_news .news_list .list_inner .carousel_nav .custom_nav i {
  color: #1b1b1b;
}
.grax_news .news_list ul {
  margin: 0px;
  list-style-type: none;
}
.grax_news .news_list ul li {
  margin: 0px;
}
.grax_news .news_list ul li .inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.grax_news .carousel_nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_news .list_inner:hover .carousel_nav {
  opacity: 1;
  visibility: visible;
}
.grax_news .custom_nav a {
  background-color: #171717;
  padding: 22px;
  border-radius: 3px;
  display: inline-block;
  position: relative;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.grax_news .carousel_nav .custom_nav a:hover {
  background-color: #ff214f;
}
.grax_news .carousel_nav .custom_nav a:after {
  width: 0px;
  height: 0px;
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-left-color: #fff;
  top: 17px;
  left: 21px;
}
.grax_news .carousel_nav .custom_nav .prev {
  left: 0px;
  position: absolute;
}
.grax_news .carousel_nav .custom_nav .next {
  right: 0px;
  position: absolute;
}
.grax_news .carousel_nav .custom_nav .prev:after {
  transform: rotate(180deg);
  left: 15px;
}
.grax_news .carousel_nav .custom_nav i {
  color: #1b1b1b;
}
.shadow {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  padding: 6px;
}
.grax_news .news_list ul li .inner .image {
  position: relative;
}
.grax_news .news_list ul li .inner .image a {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.grax_news .news_list ul li .inner .image img {
  min-width: 100%;
}
.grax_news .news_list ul li .inner .image .main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grax_news .news_list ul li .inner .texts {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 40px 40px 38px 40px;
}
.grax_news .news_list ul li .inner .texts .date a {
  text-decoration: none;
  color: #333;
  font-weight: 600;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_news .news_list ul li .inner .texts .def {
  margin-bottom: 18px;
}
.grax_news .news_list ul li .inner .texts .date a:hover {
  color: #ff214f;
}
.grax_news .news_list ul li .inner .texts .title h3 {
  line-height: 1;
  margin-bottom: 21px;
}
.grax_news .news_list ul li .inner .texts .title h3 a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_news .news_list ul li .inner .texts .title h3 a:hover {
  color: #ff214f;
}
.grax_news .news_list ul li .inner .more {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.grax_news .news_list ul li .inner .more a {
  text-decoration: none;
  color: #ff214f;
  font-weight: 500;
  font-family: 'Saira';
}
.grax_news .news_list ul li .inner .modal_texts {
  display: none;
}
.grax_modal_news .modal_texts blockquote {
  margin-bottom: 30px;
  color: #fff;
  font-style: italic;
  position: relative;
  padding-left: 30px;
}
.grax_modal_news .modal_texts blockquote:before {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  left: 0px;
  background-color: #ff214f;
}
.grax_modal_news .modal_texts p {
  margin-bottom: 30px;
}
.grax_modal_news .modal_texts .modal_social {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.grax_modal_news .modal_texts .modal_social ul {
  margin: 0px;
  list-style-type: none;
}
.grax_modal_news .modal_texts .modal_social ul li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.grax_modal_news .modal_texts .modal_social ul li a {
  text-decoration: none;
  color: #fff;
}
.grax_modal_news {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  transform: scale(1, 0);
  transition: all 0.4s ease, opacity 0.2s ease;
  background-color: #030303;
  cursor: none;
  opacity: 0;
}
.grax_modal_news .more {
  display: none;
}
.grax_modal_news.opened {
  transform: scale(1, 1);
  opacity: 1;
  transition: all 0.4s ease, opacity 0.4 ease;
}
.grax_modal_news .modal_main {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 100px 0px;
}
.grax_modal_news .modal_main .def {
  display: none;
}
.grax_modal_news .modal_main .grax_button {
  display: none;
}
.grax_modal_news .modal_main .image {
  position: relative;
  margin-bottom: 37px;
}
.grax_modal_news .modal_main .image .main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grax_modal_news .modal_main .texts .date a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_modal_news .modal_main .texts .date span {
  color: #fff;
}
.grax_modal_news .modal_main .texts .date {
  margin-bottom: 5px;
}
.grax_modal_news .modal_main .texts .date a:hover {
  color: #ff214f;
}
.grax_modal_news .modal_main .title h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.grax_modal_news .modal_texts p {
  color: #aaa;
}

#floatingmes {
  position: absolute;
  color: #fff;
  z-index: 111122222;
  font-family: 'Saira';
  display: none;
}

/*** 12. Partners ***/

.grax_partners {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}
.grax_partners .background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.grax_partners .background .image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grax_partners .background .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
.grax_partners .content {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  z-index: 3;
  text-align: center;
  padding: 90px 0px;
}
.grax_partners .content ul {
  margin: 0px;
  list-style-type: none;
}
.grax_partners .content ul li {
  margin: 0px;
}

/*** 12. Contact ***/

.grax_contact .contact_inner {
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: flex;
  margin-bottom: 100px;
}
.grax_contact .contact_inner .left {
  width: 40%;
  height: auto;
}
.grax_contact .contact_inner .left ul {
  margin: 0px;
  list-style-type: none;
}
.grax_contact .contact_inner .left ul li {
  margin: 0px 0px 10px 0px;
  width: 100%;
  float: left;
  list-style-type: none;
}
.grax_contact .contact_inner .left ul li .inner {
  width: 100%;
  height: auto;
}
.grax_contact .contact_inner .left ul li .inner .svg {
  position: absolute;
  left: 0px;
  top: 8px;
  color: #ff214f;
  width: 20px;
  height: 20px;
}
.grax_contact .contact_inner .left ul li .inner span {
  padding-left: 35px;
}

.grax_contact .contact_inner .right {
  width: 60%;
  height: auto;
  position: relative;
  top: -10px;
}
.grax_contact .contact_inner .right .first_row {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.grax_contact .contact_inner .right .first_row ul {
  margin: 0px 0px 0px -20px;
  list-style-type: none;
}
.grax_contact .contact_inner .right .first_row ul li {
  margin: 0px 0px 25px 0px;
  width: 50%;
  padding-left: 20px;
}
.grax_contact .contact_inner .right .first_row ul li input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  padding: 0px 20px 0px 0px !important;
  color: #333;

  transition: all 0.3s ease;
}
.grax_contact .contact_inner .right .first_row ul li input:focus {
  outline: none;
  background-color: transparent;
  border-bottom-color: #000;
}
.grax_contact .contact_inner .right .second_row {
  width: 100%;
  height: auto;
  float: left;
  clear: both;
  margin-bottom: 20px;
}
.grax_contact .contact_inner .right textarea {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #333;
  width: 100%;
  resize: none;
  padding: 0px 20px 0px 0px !important;
  color: #333;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_contact .contact_inner .right textarea:focus {
  outline: none;
  background-color: transparent;
  border-bottom-color: #000;
}
.grax_contact .empty_notice {
  color: #ff214f;
  margin-bottom: 7px;
  display: none;
  text-align: left;
}
.grax_contact .contact_error {
  color: #ff214f;
  text-align: left;
}
.grax_contact .returnmessage {
  color: #0064ff;
  margin-bottom: 7px;
  text-align: left;
}
.grax_footer {
  position: relative;
  background-color: #111;
  width: 100%;
  float: left;
  padding: 60px 0px;
}
.grax_footer .footer_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grax_footer .left p {
  color: #fff;
  font-family: 'Saira';
  margin-bottom: 10px;
}
.grax_footer .social_footer ul {
  margin: 0px;
  list-style-type: none;
}
.grax_footer .social_footer ul li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.grax_footer .social_footer ul li a {
  text-decoration: none;
  color: #fff;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.grax_footer .social_footer ul li a:hover {
  color: #ff214f;
}
.svg.shape {
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.svg.shape svg {
  width: 100%;
  height: 100%;
  color: #fff;
}
.grax_down.second {
  bottom: 90px;
}
.grax_down.third {
  bottom: 90px;
}
.grax_down.rotate {
  bottom: 100px;
}
.grax_hero_wrap .bottom.shape {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.grax_hero_wrap.shape {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 70% 100%, 0 80%);
}
.grax_hero_wrap_another {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
.grax_hero_wrap_another .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.grax_hero_wrap_another .container {
  height: 100%;
}
.grax_hero_wrap_another .hero_texts {
  position: absolute;
  z-index: 2;
  width: 100%;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0px 20px;
}
.grax_hero_wrap_another .hero_texts h3 {
  color: #fff;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  line-height: 1;
}
.grax_hero_wrap_another .hero_texts .subtitle {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  display: inline-block;
  color: #fff;
}
.grax_tm_animation_text_word {
  color: #fff;
}
.grax_hero_wrap_another .hero_texts .name {
  margin-bottom: 30px;
}
.grax_hero_wrap_another .hero_texts > h3,
.grax_hero_wrap_another .hero_texts > h3 span {
  font-size: 75px;
}
.grax_hero_wrap_another .www.a {
  max-width: 550px;
  width: 100%;
  margin: 0px auto;
}
.grax_hero_wrap_another .socials ul {
  margin: 0px;
  list-style-type: none;
}
.grax_hero_wrap_another .socials ul li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.grax_hero_wrap_another .socials ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.grax_hero_wrap_another .socials ul li a:hover {
  color: #ff214f;
}
.grax_hero_wrap_video {
  width: 100%;
  height: 100vh;
  position: relative;
}
.grax_hero_wrap_video .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.grax_hero_wrap_video .container {
  height: 100%;
}
.grax_hero_wrap_video .hero_texts {
  position: absolute;
  z-index: 2;
  width: 100%;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.grax_hero_wrap_video .hero_texts h3 {
  color: #fff;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  line-height: 1;
}
.grax_hero_wrap_video .hero_texts .subtitle {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  display: inline-block;
  color: #fff;
}
.grax_tm_animation_text_word {
  color: #fff;
}
.grax_hero_wrap_video .hero_texts .name {
  margin-bottom: 30px;
}
.grax_hero_wrap_video .hero_texts > h3,
.grax_hero_wrap_video .hero_texts > h3 span {
  font-size: 75px;
}
.grax_hero_wrap_video .www.a {
  max-width: 550px;
  width: 100%;
  margin: 0px auto;
}
.grax_hero_wrap_video .socials ul {
  margin: 0px;
  list-style-type: none;
}
.grax_hero_wrap_video .socials ul li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.grax_hero_wrap_video .socials ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.grax_hero_wrap_video .socials ul li a:hover {
  color: #ff214f;
}
.grax_hero_wrap_kenburn {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
.grax_hero_wrap_kenburn .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.grax_hero_wrap_kenburn .container {
  height: 100%;
}
.grax_hero_wrap_kenburn .hero_texts {
  position: absolute;
  z-index: 2;
  width: 100%;
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0px 20px;
}
.grax_hero_wrap_kenburn .hero_texts h3 {
  color: #fff;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  line-height: 1;
}
.grax_hero_wrap_kenburn .hero_texts .subtitle {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  display: inline-block;
  color: #fff;
}
.grax_hero_wrap_kenburn .hero_texts .name {
  margin-bottom: 30px;
}
.grax_hero_wrap_kenburn .hero_texts > h3,
.grax_hero_wrap_kenburn .hero_texts > h3 span {
  font-size: 75px;
}
.grax_hero_wrap_kenburn .www.a {
  max-width: 550px;
  width: 100%;
  margin: 0px auto;
}
.grax_hero_wrap_kenburn .socials ul {
  margin: 0px;
  list-style-type: none;
}
.grax_hero_wrap_kenburn .socials ul li {
  margin: 0px 10px 0px 0px;
  display: inline-block;
}
.grax_hero_wrap_kenburn .socials ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}
.grax_hero_wrap_kenburn .socials ul li a:hover {
  color: #ff214f;
}

.grax_hero_wrap_kenburn .kenburn_wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.glitch {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(..//img/hero/1.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  z-index: -1 !important;
  opacity: 1;
  transform: scale(1);
}
#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
}
.grax_hero_wrap .hero_texts.intro {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.grax_hero_wrap .hero_texts.intro .subtitle {
  text-transform: capitalize;
  margin-bottom: 0px;
}
.grax_hero_wrap .hero_texts.intro .name span {
  color: #ff214f;
}
.grax_button.intro {
  padding-top: 45px;
}
.grax_intro_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
}
.grax_intro_inner .title {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: center;
  margin-bottom: 80px;
}
.grax_intro_inner .title h3 {
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 19px;
}
.grax_intro_inner > ul {
  margin: 0px 0px 0px -60px;
  list-style-type: none;
  position: relative;
  top: 30px;
  opacity: 0;

  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.grax_intro_inner > ul.grax_appear.load {
  top: 0px;
  opacity: 1;
}
.grax_intro_inner > ul > li {
  margin: 0px 0px 60px 0px;
  width: 33.3333%;
  float: left;
  padding-left: 60px;
}
.grax_intro_inner > ul > li > .inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.grax_intro_inner > ul > li > .inner .image {
  position: relative;
}
.grax_intro_inner > ul > li > .inner .image img {
  min-width: 100%;
}
.grax_intro_inner > ul > li > .inner .image .main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grax_intro_inner > ul > li > .inner .name {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
}
.grax_intro_inner > ul > li > .inner .name a {
  text-decoration: none;
  color: #000;
  font-family: 'saira';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  padding: 13px 0px;
}
.grax_intro_inner > ul > li > .inner .link {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.grax_intro_inner .features {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 63px;
}
.grax_intro_inner .features .title {
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 123px;
}
.grax_intro_inner .features ul {
  margin: 0px 0px 0px -60px;
  list-style-type: none;
  position: relative;
  top: 30px;
  opacity: 0;

  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.grax_intro_inner .features ul.grax_appear.load {
  opacity: 1;
  top: 0px;
}
.grax_intro_inner .features ul li {
  margin: 0px 0px 60px 0px;
  width: 33.3333%;
  float: left;
  padding-left: 60px;
}
.grax_intro_inner .features ul li .inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 50px 20px;
}
.grax_intro_inner .features ul li .inner .svg {
  width: 45px;
  height: 45px;
  color: #ff214f;
  margin-bottom: 20px;
}
.grax_intro_inner .features ul li .inner .subtitle {
  color: #000;
  font-family: 'saira';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
}
.grax_footer.intro {
  padding-left: 100px;
  padding-right: 100px;
}
.grax_down.intro {
  left: 50%;
  transform: translateX(-50%);
}
.grax_footer.intro p a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease;
}
.grax_footer.intro p a:hover {
  color: #ff214f;
  border-bottom-color: #ff214f;
}
