@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply border-gray-400 border;

  width: 80%;
}

.btn {
  @apply bg-green p-2;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
